body {
	/*background: url('../images/background2.png') no-repeat center center;*/
	background-size: cover;
	position: relative;
	height: 100vh;
}

.trivia-container {
	background: rgba(0,0,0,.75);
	padding: 2em 0;
}


.container {
	padding-top: 1em;
}

.timer {
	background: #e3e3e3;
	color: #666;
	padding:1em;
	position: absolute;
    left: 83.75%;
    width: 170px;
    top: -10%;
}

h1, h2, h3, h4, h5 {
	/*color: #fff;*/
	color: #666;
}


.hide {
	display: none;
}

.show {
	display: block;
}

.choice {
	background-image: linear-gradient(to bottom, #002042, #2777b1);
	border: 1px solid #2777b1;
	color: #fff;
	display: block;
	margin-top: 1em;
	padding: .5em;
	position: relative;
	width: 100%;
}